body {
  margin: 0px;
  padding-top: 0px;
}

#banner {
  margin-top: 0px;
  padding-top: 0px;
}

#projectLogo {
  font-size: xx-large;
  font-weight: bold;
}

#lastPublished {
  font-size: small;
}

.navSection {
  margin-bottom: 2px;
  padding: 8px;
}

.navSectionHead {
  font-weight: bold;
  font-size: x-small;
}

.navLink {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: small;
}

.section {
  padding: 4px;
}

.sectionTitle {
  padding: 4px;
}

.subsection {
}

.subsectionTitle {
  padding: 4px;
}

#leftColumn {
  width: 15%;
}

#navBox {
}

#rightColun {

}

#contentBox {

}

#footer {
  font-size: small;
}

#breadcrumbs {
 font-size: small;
 margin: 0pt;
}

#source {
 margin-right: 7px;
 margin-left: 7px;
 margin-top: 1em;
 }

img.handle {
 border: 0;
 padding-right: 2px;
}

#poweredBy {
  border: 1px solid black;
}
