body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

a:link.selfref, a:visited.selfref {
  color: blue; !important;
}

a:link, a:visited {
  color: blue;
}

a:active, a:hover {
  color: #990000;
}

#breadcrumbs {
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  background-color: #cccccc;
}

.navSection {
  background-color: #eeeeee;
}

.navSectionHead {
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 2px;
}

.navLink {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: small;
  padding-left: 2px;
}

.section {
}

.sectionTitle {
  padding: 10px;
  border: 1px solid #999999;
  color: #990000;
  background-color: #dddddd;
}

.subsection {
  padding-left: 20px;
}

.subsectionTitle {
  padding: 6px;
  border: 1px solid #999999;
  color: #990000;
  background-color: #eeeeee;
}

p {
  font-size: small;
  line-height: 1.3em;
}

ul, ol {
  margin-left: 20px;
  font-size: smaller;
}

li {
  padding-top: 2px;
  padding-bottom: 2px;
}

#leftColumn {
  border-right: 1px solid #999999;
  border-bottom: 1px solid #999999;
  background-color: #eeeeee;
}

#navBox {
}

#rightColun {

}

#contentBox {

}

table.bodyTable {
  width: 100%;
}

table.bodyTable th, table.bodyTable td {
  font-size: smaller;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

table.bodyTable th {
  color: white;
  background-color: #bbb;
  text-align: left;
}

table.bodyTable td {
}

table.bodyTable tr.a {
  background-color: #dddddd;
}

table.bodyTable tr.b {
  background-color: #eeeeee;
}

.source {
  padding: 12px;
  margin: 12px;
  border: 1px solid #999999;
}

.source pre {
  margin: 0px;
  padding: 0px;
}

